
<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <title>Login Form</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

</head>



<div class="d-flex justify-content-center h-100">
  <div class="col-sm-9">
    <div class="card">
      <div class="card-header">
        <h3>Login In</h3>
      </div>
      <div style="background-color:lavender;">
        <form #login = "ngForm" (ngSubmit) = "onClickSubmit(login.value)" >
            <div class="col-sm-6 col-lg-4">
              <div class="form-group">
                <label class="col-md-4 control-label" for="Username">Username:</label>
                <div class="col-md-8">
                  <input class="form-control" type = "text" name = "username" placeholder = "username" ngModel>
                </div>
              </div>
            </div>
            
            <div class="col-sm-6 col-lg-4">
              <div class="form-group">
                <label class="col-md-4 control-label" for="Username">Password:</label>
                <div class="col-md-8">
                  <input class="form-control" type = "password" name = "pwd" placeholder = "password" ngModel>
                </div>
              </div>
            </div>
            
            <div class="col-sm-6 col-lg-4">
              <div class="form-group">
                <div class="col-md-8">
                    <input  class="btn btn-primary" type = "submit" value = "submit">
                </div>
              </div>
            </div>
            
        </form>
      </div>
    </div>
  </div>
</div> -->

<!-- Updated UI -->
<!-- <div class="background"></div> -->
<div class="container container-table">
  <div class="row h-100 justify-content-center">
    <div class="signin">
      <div class="card-group">
        
        <div class="card orange-pic"> 
          <!-- picture here -->
          <div class="card-body text-center">
            <font face="Comic sans MS" size="15">Welcome</font>
            <p class="right-side">Learning to build website.</p>
            <p class="right-side">Implementing back-end and front-end</p>
          </div>
        </div>

        <div class="card"> 
            <div class="card-body text-center">
              <h4>Welcome to an Amazing place </h4>
              <h2>SIGN IN</h2>
              <p class="last-heading">Welcome to First Design</p>
              <form name="form" #login ="ngForm" (ngSubmit) = "login.form.valid && onClickSubmit(login.value)" ng-model="currentUser">
              
                <div class="form-group">
                  <label class="col-md-12 control-label" for="Username">Username:</label>
                  <div class="col-md-12 inputs">
                    <input class="form-control" type="text" #username="ngModel" name="username" placeholder="username"  [(ngModel)]="currentUser.userName" [ngClass]="{ 'is-invalid': login.submitted && username.invalid }" required> 
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-12 control-label" for="password">Password:</label>
                  <div class="col-md-12">
                    <input class="form-control" type = "password" #pwd="ngModel" name = "pwd" placeholder = "password"  [(ngModel)]="currentUser.plainPassword" [ngClass]="{ 'is-invalid': login.submitted && pwd.invalid }"  required >
                  </div>
                </div>
              
                <div>
                  <!-- <input type="checkbox" [(ngModel)]="rememberMe"
                  [ngModelOptions]="{standalone: true}">
                  <label >Remember Me!</label> -->



                  
                  <input type="checkbox" class="remember-me" 
                  [(ngModel)]="rememberMe"
                  [ngModelOptions]="{standalone: true}"
                  >
                  <label class="remember-me-label">Remember Me!</label>
                </div>
                
                <div class="col-md-12">
                  <input #buttonLogin class="btn btn-primary" type="submit" value = "Login">
                </div> 
                
                  
              </form>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>