.container {
    //how to add space between form group
    //how to blur only the background image
    //why is there no scroll bar
    position: fixed;
    padding: 0%;
    margin: 0%;
    top: 0%;
    right: 0%;
    max-width: 100%; 
    // without max-width it doesn't work
    height: 100%;
    width: 100%;
    background-color: rgb(49, 4, 58);
    padding-top: 10%;
    overflow-y: scroll;
    overflow-x: none;
}
// .background{
//     background-image: url("/assets/background_grey.png");
//    //  background: lighten($color: #000000, $amount: 0);
//    // background-color: rgb(49, 4, 58);
//     background-size: cover;    position: fixed;
//     padding: 0%;
//     margin: 0%;
//     top: 0%;
//     right: 0%;
//     max-width: 100%; 
//     // without max-width it doesn't work
//     height: 100%;

// }
.vertical-center {
    min-height: 50%;  /* Fallback for browsers do NOT support vh unit */
    min-width: 50%;
    
    height: 50%;
    width: 50%;

}


.form-control {
    border-radius: 8px;
}


.signin {
    height: 70%;
    max-height: 100%;
    max-width: 100%;
    width: 70%;
}

.card-group {
    min-height: 100%;

}

.card {
    min-height: 68%;
    max-height: 68%;

    min-width: 35%;
    padding-top: 10%;
    padding-bottom: 7%;
    border-radius: 15px;
}
.btn{
    margin-top: 5%;
    display: inline-block;
    border-radius: 8px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    min-width: 100%;
   
    transition: all 0.5s;
    cursor: pointer;
}

.btn:hover {
    background-color:rgb(49, 4, 58);
    color: white;

}

.inputs, .last-heading {
    margin-bottom: 30px;
    font-family: 'Segoe UI';
    border-radius: 2%;  
}

h2 {
    color: #f4511e;
}

.orange-pic {
    background-image : url("/assets/438202-beautiful-cool-orange-backgrounds-2560x1440-for-meizu.jpg");
    background-size: cover;
}

font {
    color:white;
}

.right-side {
    color:white;
}

.remember-me {
    margin-left: 15px;
    float: left;
    margin-top: 20px;
  
}

.remember-me-label {
    @extend .remember-me;
    margin-top: 17px;
}