// ul {
//     list-style-type: none;
//     margin: 0;
//     padding: 0;
//     overflow: hidden;
//     background-color: #333;
// }
// nav{
//     display: block;
//     color: white;
//     text-align: center;
//     padding: 5px 8px;
//     text-decoration: none;
// }
// table tr td  {
//     border: 0.5px solid #0B5345;
//     border-radius: 10px;
   
//   }
//   table tr:nth-child(odd) {
//     background-color: #f1f1f1;
//   }
//   table tr:nth-child(even) {
//     background-color: #ffffff;
//   }

.SetDateTime{
    text-align: center !important;
}
.navbar{
    background-color: #0B5345 !important;
    color: white;
    padding: 10px;
    padding-left: 10px;
}
th a{
    background-color:#0B5345;
    color: white;
}
th{
    background-color:#0B5345 ;
    color: white;
}
html{
    // background-color: #F2F4F4 #EBEDEF;
    background-color: #F2F4F4;
}
// th {
//     //border: 2px solid red;
//     border-radius: 12px;
// }
.marginn{
    margin-right: 115px;
  
}
tbody{
    font-weight: 1;
}
.active a
{
    background-color:#0B5345;
}
.active a:hover{
    background-color:#0B5345;
}
.ShowandHide
{
    width:75%;
    height:100%;
    text-align: right;
}
.collapse{
    text-align: left  !important;
}
header{

    position: relative;
    overflow:hidden;
    -ms-text-overflow:ellipsis;
    text-overflow:ellipsis;
    width:150px;
    height: 1.1em;
}

.headerr{

    overflow:visible;
    width: 600px;
    height: 20px;
    text-align: left;
    display: inline-block;
}


.ButtonStyle{
    background-color: rgb(195, 226, 220);
}
.SearchwdDescription{
    width: 200px;
    height: 30px;
}
.aligntable{
    float: right;
}
.aaaaa{
    color: black;
}
.calenderstyling{
    color:black;
}
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}


// table, tr , td  {
//    width:100%;
//    height:100%;

// //   }
// @mixin fixedColumnSize($property) {
//     max-width: $property;
//     overflow: hidden;
//     text-overflow: ellipsis;
    
//     // white-space: nowrap;
// }
// td#description {
//     @include fixedColumnSize(400px);
// }
// }
// header:hover{

//     // width: 30px;
//     // height: 20px;
//     // text-align: center;
//     // display: inline-block;
//     // position: relative;

//     width: 600px;
//     height: 20px;
//     text-align: left;
//     display: inline-block;


    
// // element.style {
// //     /* height: 100%; */
// //     /* width: 100%; */
// //     /* position: absolute; */
// //     /* transform: translate(10px, 10px); */
// //     /* top: 50%; */
// //     /* left: 50%; */
// //     /* display: inline-block; */
// //     transition-duration: 2s;
// //     -moz-transition-duration: 2s;
// //     -webkit-transition-duration: 2s;
// //     transition-timing-function: linear;
// //     transition-property: height;

//     overflow:visible;
//     opacity: 1;
//     display: inline-block;
// }