
<div class="container">
<table class="table table-bordered table-hover table-responsive ">
        <thead>
            <th>Id</th>
          <th><a (click) = "sort('Name')">Name</a></th>
          <th><a (click) = "sort('Email')">Email</a></th>
          <th><a (click) = "sort('Choice')">Choices</a></th>
          <th><a (click) = "sort('Comments')">Comments</a></th>
          <th><a (click) = "sort('FileNames')">FileNames</a></th>
          <th>Options</th>
        </thead>
        <tbody>
          <tr *ngFor="let user of Users">
            <td> {{user.id}} </td>
            <td> {{user.name}} </td>
            <td> {{user.email}} </td>
            <td> {{user.choice}} </td>
            <td> {{user.comments}} </td>
            <td><a (click)= DownloadUserFile(user.fileNames)>{{user.fileNames}}</a></td>
            <td><a (click)= passId(user.id) ng-model="myVar">Edit</a>|<a (click)=deleteuser(user.id)>Delete</a></td>
          </tr>
        </tbody>
      </table>
      <table class="table table-striped table-bordered" *ngIf="toggle==='show'">
          <th>Change Data</th>
          <tbody>
                <tr>
                  Name<input [(ngModel)]="edituser.name"> 
                  Email<input [(ngModel)]="edituser.email"> 
                  Comments<input [(ngModel)]="edituser.comments"> 
                  choices<input [(ngModel)]="edituser.choice"> 
                </tr>
              </tbody>
              <button style="float: right;" class="btn btn-danger" (click)=cancel()>Cancel</button>
              <button style="float: right;" class="btn btn-success" (click)=savechanges()>Save Changes</button>
             
      </table>
 
      <nav aria-label="Page navigation example">
            <ul class="pagination" *ngFor="let page of pagesArray; let x = index" >
              <li class="page-item" [ngClass]="{'active': (x+1)==active}"><a class="page-link" (click)= getPageData(x+1) >{{x+1}}</a></li>
            </ul>
          </nav>
        </div>   